body {
  margin: 0;
}
#parent {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: none;
  font-size: large;
  line-height: 1.5rem;
}

form {
  margin: 10px;
}

#submit {
  font-size: large;
  cursor: pointer;
  height: 2rem;
  width: 100%;
  outline: none;
  border: none;
  color: white;
  background-color: #70b134;
  margin-block: 0.5rem;
}
